main {
    flex: 1;    /* Essa propriedade garante que a tag main, na div principal ocupe todo o espaço disponivel por conta do -flex-directio: row-*/
}

main ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
}

@media (max-width: 650px){
    main ul {
        grid-template-columns: 1fr;
    }
}